{% extends 'layout.twig' %}
{% block user %}
{% if user %}
Connected as : {{user.username}}
{% endif %}
{% endblock %}
{% block content %}

<h1>{{ title}}</h1>
<table border="2">
   
      <thead>
        <tr>
    <th>ID</th>
    <th>Imprimante</th>
    <th>Lien</th>
    <th>Photo</th>
    <th>Prix</th>
    
        
        </tr>
        
        
    </thead>
{%for e,m in tunisianetimprimantes %}
    
   
    <tbody>
    <tr> 
    <td> {{e}}</td>
    <td> {{m.imprimante}}</td>
    <td> <a>{{m.lien}}</a></td>
    <td> <a>{{m.photo}}</a></td>
    <td> {{m.prix}}</td>
    
        
   
</tr>
        </tbody>
    {%endfor%}
    

</table>
{% endblock %}